.navbar-default{
  	background-color: #2c3e50;
  	padding: 10px;
    margin: 0px;
 }
.navbar-default .navbar-brand{
	color: #FFFFFF;
	font-size: 25px
}

.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #18bc9c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: #18bc9c;
}

.navbar-default .navbar-nav > li > a{
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #18bc9c;
}

.navbar-default .navbar-nav .active{
    color: #18bc9c;
}

.jumbotron{
  margin-top: 70px;
  margin-bottom: 10px;
  height: 600px;
  background-color: #18bc9c;
  text-align: center;
  color: white;
}

.jumbotron > p {
  font-size: 50px;
}

.jumbotron .jm-small{
  font-size: 20px;
  margin-bottom: 20px;
}

body{
  background-color: #E0F2F1;
}

a{
  color: #2c3e50;
}

.container > h1{
  color: #2c3e50;
}

.container > ul > li > a{
  color: #2c3e50
}
.container .para{
  font-size: 17px;
  color: black;
  text-align: justify;
}

.btn-action{
  background-color: #F50057;
  padding: 10px;
  width: 150px;
  color: white;
  font-size: 19px;
}

.about-body{
  margin-top: 70px;
}

.contact-body{
  margin-top: 100px;
}

.downloads{
  margin-top: 100px;
}

.downloads-col > a{
  text-decoration: none;
}

.semester-icon > p{
  height: 250px;
  width: 250px;
  background-color: #18bc9c;
  border-radius: 250px;
  padding-top: 110px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.it-icon > p{
  padding-top: 90px;
}


